@font-face {
  font-family: custom-font;
  src: url(/Roboto-Light.ttf);
}

:root {
  --content-bg: #e5e7eb;
  --card-bg: white;
  --border-radius: 8px;
  --font-size: 1.2rem;
  --btn-clr: #5283f5;
  --btn-shdw: rgba(0, 0, 0, 0.2) 0px 1px 5px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--content-bg);
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  background-color: var(--card-bg);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  position: relative;
  flex-shrink: 0;
}

h1 {
  font-family: custom-font;
}

.content {
  background-color: var(--content-bg);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  align-items: center;
  gap: 30px;
}

.add {
  width: 100px;
  height: 30px;
  font-family: custom-font;
  font-weight: bold;
  background-color: var(--btn-clr);
  color: white;
  border-style: none;
  border-radius: var(--border-radius);
  box-shadow: var(--btn-shdw);
  cursor: pointer;
}

.add:hover {
  filter: brightness(90%);
}

.add:active {
  filter: brightness(80%);
}

.sort {
  align-self: flex-start;
  font-family: custom-font;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  width: 100%;
  height: 100%;
  background-color: var(--content-bg);
  gap: 40px;
}

.card {
  background-color: white;
  height: calc(300px - 40px);
  border-radius: var(--border-radius);
  box-shadow: var(--btn-shdw);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: custom-font;
}

.title {
  font-size: 2rem;
}

.author {
  font-size: 1.5rem;
}

.pages {
  font-size: 1rem;
}

.status,
.remove {
  width: 180px;
  height: 35px;
  cursor: pointer;
  font-size: 1.1rem;
  border-style: none;
  border-radius: var(--border-radius);
}

.status:hover,
.remove:hover {
  filter: brightness(90%);
}

.status:active,
.remove:active {
  filter: brightness(80%);
}

.remove {
  background-color: red;
  color: white;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.overlay.active {
  display: flex;
}

.form-add {
  width: 300px;
  height: 350px;
  background-color: var(--content-bg);
  z-index: 2;
  display: flex;
  position: fixed;
  top: calc(50% - 190px);
  left: calc(50% - 150px);
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 15px 0px;
  border-radius: var(--border-radius);
  transform: scale(0);
  transition: 0.15s ease-in-out;
}

.form-add.active {
  transform: scale(1);
}

#my-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

input {
  height: 40px;
  font-size: var(--font-size);
  padding: 0px 8px;
  border: none;
  border-radius: var(--border-radius);
}

.form-add h1 {
  font-size: 1.6rem;
}

.isread {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: custom-font;
  font-size: var(--font-size);
  padding: 0px 8px;
}

#submit {
  width: 120px;
  height: 35px;
  background-color: var(--btn-clr);
  color: white;
  border-style: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--btn-shdw);
}

#submit:hover {
  filter: brightness(90%);
}

#submit:active {
  filter: brightness(80%);
}

.error {
  margin-top: -15px;
  margin-left: 5px;
  color: red;
  font-family: custom-font;
  font-size: 0.8rem;
}

.footer {
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-family: custom-font;
}

.fab {
  color: black;
  transition: 0.5s;
}

.fab:hover {
  transform: rotate(360deg);
}
